<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link px-2 text-body-secondary btn"
          >Accueil</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/admin" class="nav-link px-2 text-body-secondary btn"
          >Administration</a
        >
      </li>

      <li class="nav-item">
        <a routerLink="/about" class="btn nav-link px-2 text-body-secondary"
          >À Propos</a
        >
      </li>
    </ul>
    <div class="d-flex text-center align-justify">
      <span>&copy; 2024 - By KODJO Souleymane</span>
    </div>
  </footer>
</div>
