<!-- create-account.component.html -->
<form (ngSubmit)="createAccount()" class="p-3">
  <div class="form-group">
    <label for="accountOwner">Nom du Compte</label>
    <input
      type="text"
      id="name"
      name="name"
      class="form-control"
      [(ngModel)]="newAccount.name"
      required
    />
  </div>
  <div class="form-group">
    <label for="creditCardNumber">Numéro de Carte de Crédit</label>
    <input
      type="number"
      id="creditCardNumber"
      name="credit_card_number"
      class="form-control"
      [(ngModel)]="newAccount.credit_card_number"
      required
    />
  </div>
  <div class="form-group">
    <label for="accountNumber">Numéro de Compte</label>
    <input
      type="number"
      id="accountNumber"
      name="account_number"
      class="form-control"
      [(ngModel)]="newAccount.account_number"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Créer Compte</button>
  <!-- Bouton pour fermer le formulaire -->
  <button type="button" class="btn btn-secondary ms-2" (click)="closeModal()">
    Fermer
  </button>
</form>
