<!-- about.component.html -->

<div class="container mt-4">
  <h2 class="text-primary">À propos de Plan Épargne Restaurant</h2>
  <p>
    Bienvenue dans notre programme "Plan Épargne Restaurant". Nous sommes dédiés
    à récompenser nos clients fidèles qui choisissent de dîner dans notre réseau
    de restaurants partenaires.
  </p>
  <p>
    Chez Plan Épargne Restaurant, nous croyons que chaque repas devrait être une
    expérience agréable, et nous récompensons votre fidélité à chaque fois que
    vous choisissez l'un de nos restaurants participants.
  </p>
  <p>
    Explorez notre application pour découvrir les avantages, les détails des
    récompenses et bien plus encore. Nous sommes ravis de vous offrir une
    expérience culinaire exceptionnelle avec des avantages exclusifs.
  </p>
</div>
