<!-- view-taux-restaurant.component.html -->

<div class="container mt-4 p-2">
  <h2>Lecture du taux de rémunération d'un restaurant</h2>

  <form (ngSubmit)="readTaux()" #myform="ngForm">
    <!-- Ajoutez ici le formulaire de lecture du taux de rémunération -->
    <!-- Utilisez [(ngModel)] pour lier les valeurs du formulaire à votre modèle -->

    <div class="mb-3">
      <label for="merchantNumber" class="form-label">Numéro du marchand</label>
      <input
        type="text"
        class="form-control"
        id="merchantNumber"
        name="merchant_number"
        [(ngModel)]="merchant_number"
        required
      />
    </div>

    <div class="mb-3">
      <label for="result" class="form-label">Résultat</label>
      <!-- Ajoutez ici des éléments HTML pour afficher les résultats de la lecture -->
      <div>
        <!-- Utilisez [(ngModel)] pour lier les résultats à votre modèle -->
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Valider</button>

    <!-- Bouton pour fermer la modal -->
    <button type="button" class="btn btn-secondary ms-2" (click)="closeModal()">
      Fermer
    </button>
  </form>
</div>
