<!-- beneficiaries-list.component.html -->

<div *ngIf="beneficiaries && beneficiaries.length > 0">
  <ul>
    <li class="mb-5" *ngFor="let beneficiary of beneficiaries">
      <hr />
      <p>
        Nom : {{ beneficiary.name }} -
        <button
          class="btn btn-sm btn-danger opacity-75"
          (click)="removeBeneficiary(beneficiary)"
        >
          Retirer
        </button>
      </p>

      <p>
        Pourcentage : {{ beneficiary.percentage }} % -
        <button
          class="me-5 btn btn-sm btn-success opacity-75"
          (click)="updatePercentage(beneficiary)"
        >
          Mise à jour
        </button>
      </p>

      <br />
      <p>
        Économies :
        {{ beneficiary.savings | currency : "EUR" : "symbol" : "1.2-2" }}
      </p>
      <br />
    </li>
  </ul>
</div>
