<!-- benefit-restaurant-details.component.html -->

<div class="container mt-4">
  <h2>Détails du Restaurant</h2>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ restaurant.name }}</h5>
      <p class="card-text">
        {{ restaurant.benefit_percentage }}% de rémunération
      </p>
      <p class="card-text">
        Disponibilité : {{ restaurant.benefit_availability_policy }}
      </p>
      <!-- Ajoutez d'autres détails du restaurant ici -->
      <a routerLink="/benefit-restaurant-list" class="btn btn-secondary"
        >Retour à la liste</a
      >
    </div>
  </div>
</div>
