<!-- benefit-restaurant-details.component.html -->

<div class="container mt-4">
  <h2>Détails du Restaurant</h2>
  <div *ngIf="isLoading; else restaurantDetails" class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Chargement...</span>
    </div>
  </div>
  <ng-template #restaurantDetails>
    <div class="card" *ngIf="restaurant">
      <div class="card-body">
        <h5 class="card-title">{{ restaurant.name }}</h5>
        <p class="card-text">
          {{ restaurant.benefit_percentage }}% de rémunération
        </p>
        <p class="card-text">
          Disponibilité : {{ restaurant.benefit_availability_policy }}
        </p>

        <!-- Bouton pour fermer le formulaire -->
        <button
          type="button"
          class="btn btn-secondary ms-2"
          (click)="closeModal()"
        >
          Fermer
        </button>

        <!-- Ajoutez d'autres détails du restaurant ici -->
        <!-- <a routerLink="/benefit-restaurant-list" class="btn btn-secondary"
        >Retour à la liste</a
      > -->
      </div>
    </div>
  </ng-template>
</div>
