<ngx-ui-loader></ngx-ui-loader>

<div class="container mt-4">
  <h1>Bienvenue dans Plan Épargne Restaurant</h1>
  <div
    class="card bg-dark text-white p-5 mb-4 rounded-3"
    style="background-image: url('https://example.com/background-image.jpg')"
  >
    <p>
      Découvrez les avantages de notre programme de récompenses et explorez les
      restaurants partenaires.
    </p>
    <div class="row mt-4">
      <div class="col-md-6">
        <img
          src="
          https://images.pexels.com/photos/239975/pexels-photo-239975.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2
          "
          class="img-fluid"
          alt="Restaurant 1"
        />
        <h3>Explorez nos restaurants partenaires</h3>
        <p>
          Trouvez des restaurants offrant des récompenses attractives et
          profitez de délicieux repas.
        </p>
        <a class="btn btn-secondary" routerLink="/benefit-restaurant-list"
          >Voir la liste des restaurants</a
        >
      </div>
      <div class="col-md-6">
        <img
          src="
        https://media.istockphoto.com/id/172267398/photo/money-bag.jpg?s=1024x1024&w=is&k=20&c=HrnG_D7Xcowk6540PLNmmc0rpVt6_n6BiKvVHHBb8Hs="
          class="img-fluid"
          alt="Restaurant 2"
        />
        <h3>Gagnez des récompenses à chaque repas</h3>
        <p>
          Dînez chez nos restaurants partenaires et accumulez des récompenses
          pour vos prochains repas.
        </p>
      </div>
    </div>
  </div>
</div>
