.error-message {
  border: 1px solid #120507;
  background-color: #f8d7da;
  color: #7b00ff;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.error-icon {
  font-size: 20px;
  margin-right: 10px;
  color: #09feb0;
}
