<div class="container-fluid">
  <div class="row">
    <h2 class="text-dark mt-3 ml-3">Espace Administration</h2>
    <p class="text-muted ml-3">
      Bienvenue dans l'espace d'administration de notre programme "Plan Épargne"
    </p>
    <!-- Sidebar / Menus à gauche -->
    <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <!-- Section Gestion des Restaurants -->
        <div class="mt-4">
          <a
            routerLink="/benefit-restaurant/admin/list"
            class="text-light bg-dark btn btn-sm btn-block"
            >Gestion des Restaurants</a
          >
        </div>

        <!-- Section Gestion des Comptes -->
        <div class="mt-4">
          <a
            routerLink="/account-contribution"
            class="text-light bg-dark btn btn-sm btn-block"
            >Gestion des Comptes</a
          >
        </div>

        <!-- Section Gestion des Récompenses -->
        <div class="mt-4">
          <a
            routerLink="/reward-manager"
            class="text-light bg-dark btn btn-sm btn-block"
            >Gestion des Récompenses</a
          >
        </div>
      </div>
    </nav>

    <!-- Contenu principal à droite -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <!-- Utilisez le routeur pour charger dynamiquement les composants ici -->
    </main>
  </div>
</div>
