/* Ajoutez vos styles personnalisés ici */
body {
  background-color: #f8f9fa;
}

.sidebar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.list-group-item {
  border: none;
}

.btn {
  background-color: #007bff;
  color: #fff;
}

.btn:hover {
  background-color: #0056b3;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
