<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{ restaurant.name }}</h5>
    <p class="card-text">
      Merchant Number: {{ restaurant.merchant_number }}<br />
      Benefit Percentage: {{ restaurant.benefit_percentage }}%<br />
      Availability Policy: {{ restaurant.benefit_availability_policy }}
    </p>
    <p>
      <button class="btn btn-primary me-3" (click)="viewDetails()">
        Details
      </button>
      <!-- <button class="btn btn-danger me-3" (click)="updateAvailability()">
        Update Availability
      </button> -->
    </p>
  </div>
</div>
