@import '../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css';



/* Add this to your global or component-specific CSS */
.navbar-nav .nav-item.active a {
    /* background-color: #007bff; */
    background-color: #343a40;


    color: #fff;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




