@import '../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css';



/* Add this to your global or component-specific CSS */
.navbar-nav .nav-item.active a {
    /* background-color: #007bff; */
    background-color: #343a40;


    color: #fff;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* restaurant item */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}





