<!-- benefit-restaurant-list.component.html -->
<ngx-ui-loader> Loading </ngx-ui-loader>
<!-- | paginate : { itemsPerPage: 16, currentPage: p } -->
<div class="row" *ngIf="!loading && restaurants.length > 0; else noRestaurants">
  <h1>Liste des Restaurants</h1>
  <div
    *ngFor="
      let restaurant of restaurants
        | paginate : { itemsPerPage: 16, currentPage: p }
    "
    class="col-md-4 mt-1 mb-2"
  >
    <app-benefit-restaurant-item
      [restaurant]="restaurant"
    ></app-benefit-restaurant-item>
  </div>
</div>

<ng-template #noRestaurants>
  <div class="col-md-12 text-center">
    <p>
      <!-- Aucun restaurant n'est actuellement disponible. Nous vous invitons à
      réessayer ultérieurement. -->
      {{ errorMessage }}
    </p>
  </div>
</ng-template>

<div class="row" *ngIf="!loading && restaurants.length > 0">
  <div class="col-8 mx-auto text-center">
    <pagination-controls
      (pageChange)="p = $event"
      previousLabel="Précédent"
      nextLabel="Suivant"
    ></pagination-controls>
  </div>
</div>
